@import 'styles/base.scss';

header.Header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  height: $desktop-header-height;
  background-color: white;
  color: $theme-color;
  box-shadow: 0px 1px 1px rgba(0,0,0,0.1); 

  @media (max-width: 768px){
    height: $mobile-header-height;
  }
  .container{
    position: relative;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    max-width: $max-desktop-width;
    width: 100%;
    margin: 0 auto;
  }

  .logo-text{
    display: inline-block;
    margin-left: 40px;
    font-size: 28pt;
    letter-spacing: 1px;
    font-family: 'Bangers', cursive;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    @media (max-width: 768px){
      font-size: 20pt;
      margin-left: 0px;
    }
    &:hover{
      letter-spacing: 8px;
    }
  }
  .box{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: $desktop-header-height;
    height: $desktop-header-height;
    @media (max-width: 768px){
      width: $mobile-header-height;
      height: $mobile-header-height;
    }
  }
}