$black400: #222222;
$gray40: #666666;
$gray600: #444444;
$gray400: #9f9f9f;
$gray200: #EEEEEE;
$white100: #FFFFFF;
$white200: #F5F5F5;
$yellow400: #feda10;
$yellow200: #FFF8BC;
$light-yellow: #ffe553;
$red400: #F8412D;
$red200: #FFC8C2;
$blue400: #1194F6;
$blue200: #AFDDFF;
$mint400: #30C892;
$mint200: #B2FDE3;
$dodger-blue: #557be5;
$hawkes-blue: #cddaff;
$solitude-navy: #f0f4ff;

:export {
  black400: $black400;
  gray600: $gray600;
  gray400: $gray400;
  gray200: $gray200;
  white100: $white100;
  white200: $white200;
  yellow400: $yellow400;
  yellow200: $yellow200;
  red400: $red400;
  red200: $red200;
  blue400: $blue400;
  blue200: $blue200;
  mint400: $mint400;
  mint200: $mint200;
  dodgerBlue :$dodger-blue;
  hawkes-blue: $hawkes-blue;
  light-yellow: $light-yellow;
  solitudeNavy: $solitude-navy
}
