@mixin flexRow ($justify, $align) {
  display: flex;
  flex-direction: row;
  justify-content: $justify;
  align-items: $align;
}

@mixin flexCol ($justify, $align) {
  display: flex;
  flex-direction: column;
  justify-content: $justify;
  align-items: $align;
}

@mixin centerBoth () {
  @include flexRow(center, center);
}

@mixin _layoutAbsolute($x-property, $x-value, $y-property, $y-value) {
  position: absolute;
  #{$x-property}: $x-value;
  #{$y-property}: $y-value;
}

@mixin layoutAbsoluteTopLeft($x-value, $y-value) {
  @include _layoutAbsolute(top, $x-value, left, $y-value);
}

@mixin layoutAbsoluteTopRight($x-value, $y-value) {
  @include _layoutAbsolute(top, $x-value, right, $y-value);
}

@mixin layoutAbsoluteBottomLeft($x-value, $y-value) {
  @include _layoutAbsolute(bottom, $x-value, left, $y-value);
}

@mixin layoutAbsoluteBottomRight($x-value, $y-value) {
  @include _layoutAbsolute(bottom, $x-value, right, $y-value);
}

@mixin layoutAbsoluteXCenter($y-property, $y-value) {
  @include _layoutAbsolute(left, 50%, top, $y-value);
  transform: translateX(-50%);
}

@mixin layoutAbsoluteYCenter($x-property, $x-value) {
  @include _layoutAbsolute($x-property, $x-value, top, 50%);
  transform: translateY(-50%);
}

@mixin layoutFixedLT ($left, $top) {
  position: fixed;
  left: $left;
  top: $top;
}

@mixin layoutFixedRT ($right, $top) {
  position: fixed;
  right: $right;
  top: $top;
}

@mixin layoutFixedLB ($left, $bottom) {
  position: fixed;
  left: $left;
  bottom: $bottom;
}

@mixin layoutFixedRB ($right, $bottom) {
  position: fixed;
  right: $right;
  bottom: $bottom;
}

@mixin layoutFixedFull () {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

@mixin layoutAbsoluteFull () {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

@mixin border-line($color) {
  width: 100%;
  height: 1px;
  background-color: $color;
}

@mixin sizeWidthHeight ($width, $height) {
  width: $width;
  height: $height;
}

@mixin setPaddingBox ($topBottom, $leftRight) {
  padding: $topBottom $leftRight;
  box-sizing: border-box;
}

@mixin webkit-scrollbar-none {
  &::-webkit-scrollbar {
    display: none;
  }
}

@mixin fullSize () {
  width: 100%;
  height: 100%;
}

@mixin boxShadow ($h-shadow, $v-shadow, $blur, $spread, $color) {
  box-shadow: $h-shadow $v-shadow $blur $spread $color;
}

@mixin setBorderLine ($size, $type, $color) {
  border: $size $type $color !important;
}

@mixin setLeftBorderLine ($size, $type, $color) {
  border-left: $size $type $color !important;
}

@mixin setRightBorderLine ($size, $type, $color) {
  border-right: $size $type $color !important;
}

@mixin setBottomBorderLine ($size, $type, $color) {
  border-bottom: $size $type $color !important;
}

@mixin topRadius ($size) {
  border-top-right-radius: $size;
  border-top-left-radius: $size;
}

@mixin bottomRadius ($size) {
  border-bottom-right-radius: $size !important;
  border-bottom-left-radius: $size !important;
}
